  /*            */
 /* Background */
/*            */
#shelf { 
    width: 100%;
    display: block;
}


.bookshelf {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: burlywood;
    
}

  /*                    */
 /* Book Title Styling */
/*                    */
#book-title1 {
    font-size: auto;
    font-family:"Open Sans";
    margin: 0;
    padding: 10px 0;
    color: #ffe6a8;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}
#book-title2 {
    font-size: 20px;
    font-family:"Open Sans";
    margin: 0;
    padding: 10px 0;
    color: #ffe6a8;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}
#book-title3 {
    font-size: 20px;
    font-family:"Open Sans";
    margin: 0;
    padding: 10px 0;
    color: #ffe6a8;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}


  /*                  */
 /* Book dimesnsions */
/*                  */
.book-body {
    width: 16%;
    height: 24%;
    border: 1px solid black;
    position: absolute;
}


/*                 */
/* Book positions */
/*               */
#book1 {
    top: 10%;
    left: 12%;
    box-shadow: -5px -5px 10px black;
    
}
#book2 {
    top: 70%;
    left: 12%;
    box-shadow: -5px -5px 10px black;
}
#book3 {
    top: 40%;
    left: 12%;
    box-shadow: -5px -5px 10px black;
}
#book4 {
    top: 70%;
    left: 80%;
}


/*                        */
/* Picture on book frame */
/*                      */
.book-body img {
    display: block;
    margin: 0 auto;
    max-width: 65%;
    border: 5px solid #413e4c;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 5%;
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.443);
}


/*  */
/*  */
/*  */
html, body {
    margin: 0 auto;
    min-height: 100vh;
}

