/*                 */
/* Book styling */
/*               */
#book1 {
    box-shadow: 
        -5px -5px 10px black,
        3px 0 0 #ddd,
        6px 0 0 #ccc,
        9px 0 0 #bbb,
        11px 0 0 #15083b; 
    background-color: #15083b;
    font-family: "Open Sans";
}
#book2 {
    box-shadow: 
        -5px -5px 10px black,
        3px 0 0 #ddd,
        6px 0 0 #ccc,
        9px 0 0 #bbb,
        11px 0 0 #bfa76c;
    background-color: #ceb474;
}
#book3 {
    box-shadow: 
        -5px -5px 10px black,
        3px 0 0 #ddd,
        6px 0 0 #ccc,
        9px 0 0 #bbb,
        11px 0 0 rgb(37, 58, 77);
        background-color: rgb(37, 58, 77);
}
#book4 {
    box-shadow: 
        -5px -5px 10px black,
        3px 0 0 #ddd,
        6px 0 0 #ccc,
        9px 0 0 #bbb,
        11px 0 0 #bfa76c;
    background-color: #ceb474;
    a {
        color: #ffe6a8;
        font-size: 2vw;
        font-family: "Open Sans";
    }
}
.book-body {
    padding: 5%;
    margin: 5%;
}
/*                        */
/* Picture on book frame */
/*                      */
.book-body img { 
    display: block;
    margin: 0 auto;
    max-width: 65%;
    /* Image Outline */
    border: 2px solid #636363;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 5%;  
}